<div class="row">
  <shared-nav-bar ></shared-nav-bar>
  <!-- <shared-search-bar class="col-6 " style="margin-left: 2%;"></shared-search-bar> -->
</div>

<div class="row" style="margin-right: 40%; margin-left: 10%; margin-top: 1%;">
  <shared-search-bar (dataEvent)="receiveData($event)"></shared-search-bar>
</div>

<div class="row">
  <div class="col-9">
      <app-card-list [items]="this.items" ></app-card-list>
  </div>

  <div class="col-3 pt-5">
    <shared-history [history]="this.History" (dataEvent)="receiveData($event)" ></shared-history>
  </div>
</div>