<nav class="navbar bg-success navbar-expand-lg bg-body-tertiary" data-bs-theme="dark">
  <div class="container-fluid">
    <a class="navbar-brand"
    routerLink=""
    routerLinkActive="active">
       <i class="bi bi-spotify" style="color: rgb(42, 231, 42);"></i> Home</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav">
        <li class="nav-item">
          <a class="nav-link" 
          routerLink="/searches/by-artist"
          routerLinkActive="active">
            Search Artist</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" 
          routerLink="/searches/by-track"
          routerLinkActive="active">
            Search Song</a>
        </li>
        
        <!-- <li class="nav-item" (click)="generateToken()">
          <a class="nav-link" style="cursor: pointer;" >Generate Token</a>
        </li> -->

      </ul>
    </div>
  </div>
</nav>

